[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
marshmallow = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
pyjwt = "*"
python-dotenv = "*"
"psycopg2-binary" = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.7"
